<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>サロン編集</h3>
      <%= form_with model: [:admin, @salon], local: true do |f| %>
        <% if @salon.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@salon.errors.count, "error") %> prohibited this salon from being saved:</h2>
            <ul>
              <% @salon.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group row">
          <%= f.label :image, 'サロン画像', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.file_field :image %>
            <% if @salon.image.attached? %>
              <%= image_tag @salon.image.variant(resize_to_limit: [100, 100]) %>
            <% end %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :name, 'サロン名', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :genre_id, 'ジャンル', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "ジャンルを選択してください", selected: @salon.genre&.id }, { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :introduction, 'サロン情報', class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_area :introduction, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9 offset-sm-3">
            <%= f.submit '更新', class: 'btn btn-success text-white' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>