<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h3 class="mb-4">サロン詳細</h3>
      <div class="row">
        <div class="col-md-5 text-center">
          <div class="salon-image-wrapper mb-3">
            <% if @salon.image.attached? %>
              <%= image_tag url_for(@salon.image), class: 'img-fluid rounded shadow-sm' %>
            <% else %>
              <%= image_tag "https://placehold.co/600x400/CCCCCC/333333?text=No+Image", class: 'img-fluid rounded shadow-sm' %>
            <% end %>
          </div>
        </div>
        <div class="col-md-7">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row" class="text-nowrap">サロン名:</th>
                <td><%= @salon.name %></td>
              </tr>
              <tr>
                <th scope="row" class="text-nowrap">サロン情報:</th>
                <td><%= @salon.introduction %></td>
              </tr>
              <tr>
                <th scope="row" class="text-nowrap">ジャンル:</th>
                <td>
                  <% if @salon.genre.present? %>
                    <%= @salon.genre.name %>
                  <% else %>
                    なし
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mt-4">
            <%= link_to '編集する', edit_admin_salon_path(@salon), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>