<div>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <span><%= book.title %></span>
        <td>
          <span><%= book.body %></span>
        </td>
        <td>
          <%= link_to "Show", book_path(book.id) %>
          <%= link_to "Edit", edit_book_path(book.id) %>
          <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<h2>New book</h2>
<% if @book.errors.any? %>
  <div class="error-text">
    <strong>
      <%= @book.errors.count %>errors prohibited this book from being saved
    </strong>
  </div>
  <div class="error-reason">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @book do |f| %>
  <label>Title</label>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <label>Body</label>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit 'Create Book' %>
  </div>
<% end %>