<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="my-4">ブックマーク一覧</h2>

      <% if @favorited_salons.present? %>
        <div class="row">
          <% @favorited_salons.each do |salon| %>
            <div class="col-md-6 mb-4">
              <div class="card shadow-sm">
                <% if salon.image.attached? %>
                  <%= image_tag url_for(salon.image), class: 'card-img-top', style: 'height: 200px; object-fit: cover;' %>
                <% else %>
                  <%= image_tag "https://placehold.co/600x400/CCCCCC/333333?text=No+Image", class: 'card-img-top', style: 'height: 200px; object-fit: cover;' %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= link_to salon.name, salon_path(salon) %></h5>
                  <p class="card-text">
                    <%= truncate(salon.introduction, length: 50) %>
                  </p>
                  <%= render partial: 'public/salons/favorite_button', locals: { salon: salon } %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>まだブックマークしたサロンはありません。</p>
      <% end %>

      <%= link_to 'マイページに戻る', mypage_user_path(@user), class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>