<div class="container mt-3 mb-5">
  <h1 class="page-title text-center mb-5">Mypage</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm p-4 mb-4 custom-card-background">
        <div class="profile-image-area text-center mb-3">
          <%= image_tag @user.get_profile_image(150, 150), class: "rounded-circle border border-secondary", style: "width: 150px; height: 150px; object-fit: cover;" %>
        </div>
        <h4 class="text-center mb-3"><%= @user.nickname %></h4>

        <div class="mb-3">
          <%= link_to "登録情報を見る", user_path(@user), class: "btn btn-brown w-100" %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <h5 class="mb-3">◇レビュー投稿一覧 <i class="fa-solid fa-pencil"></i></h5>

      <% if @user.post_reviews.any? %>
        <% @user.post_reviews.each do |review|%>
          <div class="card my-3 p-3 shadow-sm rounded-lg custom-card-background">
            <h5 class="card-title mb-3">
              <% if review.salon.present? %>
                <%= link_to review.salon.name, salon_path(review.salon) %>
              <% else %>
                不明なサロン
              <% end %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= review.review_title %>
            </h6>
            <div class="d-flex align-items-center mb-2">
              <strong>評価:</strong>
              <div id="star-rate-<%= review.id %>"></div>
              <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#star-rate-<%= review.id%>');
                if (elem) {
                  elem.innerHTML = ""
                  raty(elem,{
                    size      : 24,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf  : '<%= asset_path('star-half.png') %>',
                    readOnly  : true,
                    score     : <%= review.raty || 0 %>,
                  });
                }
              });
            </script>
              </div>
            <p class="card-text mb-2"><%= truncate(review.review_text, length: 100) %></p>
            <%= link_to '続きを読む', review_path(review), class: 'btn btn-outline-info btn-sm' %>
          </div>
        <% end %>
      <% else %>
        <div class="alert alert-info" role="alert">
          まだレビューを投稿していません。
        </div>
      <% end %>
    </div>
  </div>
</div>